.settingsContainer.acordeon
  .settingsListHeader.acordeonHeader
    Settings
    .AcordeonListHeaderBtn{:onclick => "toggleAcordeon(this);"}
  .acordeonList
    .settings.acordeonListItem
      .settingsLeft
        Set your status mesage
      .settingsRight
        %input.settings{:type => 'text', :style => "width: 100%;text-align: left;", "data-role" => "none", :name => "status", :id => "status", :value => @buddy["nickname"]}
        
    .settings.acordeonListItem
      .settingsLeft
        Lets others know im idle after
      .settingsRight
        %input.settings{:type => 'text', :style => "width: 34px;", "data-role" => "none", :name => "idle_time", :id => "idle_time",:value => @settings["idle_time"]}
        mins of inactivity
        
    .settings.acordeonListItem
      .settingsLeft
        Show Offline contacts :
      .settingsRight
        .CheckboxSwitch.green{:onclick => "toggleSwitch(this);"}
          %input.CheckboxSwitch{:type => "checkbox", "data-role" => "none", :name => "show_offline", ((!@settings["show_offline"].nil? &&@settings["show_offline"])? 'checked': 'unchecked' ) => ""  }
            .checkboxSwitchContainer
              .switchOn ON
              .switch
              .switchOff OFF
%div{:style => "padding: 12px 42px;background: #e1ecee;"}
  %button{:id => "default_setting_ajax", :class => "settingsSubmitBtn green", "data-role" => "none", :style => "margin-bottom: 20px"}
    Use default
  %button{:id => "submit_setting_ajax",:class => "submitBtn settingsSubmitBtn green", "data-role" => "none" }
    Done
